{% extends "::base.html.twig" %}
{% block stylesheets %}
    <link href="{{ asset('bundles/flockmain/css/bootstrap.css') }}" rel="stylesheet" type="text/css" />
    <link href="{{ asset('bundles/flockmain/css/style.css') }}" rel="stylesheet" type="text/css" />
    {% block inner_stylesheets %}{% endblock %}
{% endblock %}

{% block body %}
<div class="topbar">
    <div class="fill">
        <div class="container">
            <a class="brand" href="#"><strong>Flock</strong></a>
            <ul class="nav">
                <li class="active"><a href="#">Home</a></li>
                <li><a href="#about">Flocks</a></li>
                <li><a href="#contact">About</a></li>
            </ul>
        </div>
    </div>
</div>

<div class="container">
    <div class="content">
        {% block content %}{% endblock %}
    </div> <!-- /content -->

    <footer>
        <p>&copy; Flock.io 2011</p>
    </footer>
</div> <!-- /container -->
{% endblock %}

{% block javascripts %}
    {% block inner_javascripts %}{% endblock %}
{% endblock %}



