@import 'reset.css';
@import 'text.css';
@import 'formalize.css';

/* `Body
----------------------------------------------------------------------------------------------------*/

body {
  font-family: "Helvetica Neue", helvetica, arial, sans-serif;
  font-size: 14px;
  line-height: 1.4em;
  background: #eeeeee;
  color: #333333;
}

/* `Wrapper
----------------------------------------------------------------------------------------------------*/

#wrapper {
  margin: 0 auto;
  width: 800px;
}

/* `Header
----------------------------------------------------------------------------------------------------*/

#header {
  height: 50px;
  background: #222222;

  -moz-box-shadow: rgba(0, 0, 0, 0.2) 0 2px 6px 0;
  -webkit-box-shadow: rgba(0, 0, 0, 0.2) 0 2px 6px 0;
  -o-box-shadow: rgba(0, 0, 0, 0.2) 0 2px 6px 0;
  box-shadow: rgba(0, 0, 0, 0.2) 0 2px 6px 0;

  -moz-border-radius: 0 0 15px 15px;
  -o-border-radius: 0 0 15px 15px;
  -webkit-border-radius: 0 0 15px 15px;
  border-radius: 0 0 15px 15px;
}

#header #logo {
  padding: 5px 0 0 20px;
}

/* `Content
----------------------------------------------------------------------------------------------------*/

#content {
  margin-top: 20px;
  min-height: 500px;
  background: #ffffff;

  -moz-box-shadow: rgba(0, 0, 0, 0.2) 0 2px 6px 0;
  -webkit-box-shadow: rgba(0, 0, 0, 0.2) 0 2px 6px 0;
  -o-box-shadow: rgba(0, 0, 0, 0.2) 0 2px 6px 0;
  box-shadow: rgba(0, 0, 0, 0.2) 0 2px 6px 0;

  -moz-border-radius: 15px 15px 15px 15px;
  -o-border-radius: 15px 15px 15px 15px;
  -webkit-border-radius: 15px 15px 15px 15px;
  border-radius: 15px 15px 15px 15px;
}

#content #form_container {
    width: 680px;
    margin: 0 auto;
    padding: 30px;
}

#form_container p {
    color: #666666;
    margin-bottom: 5px;
    margin-left: 10px;
    margin-right: 10px;
}

div.ui-datepicker{
 font-size:11px;
}


#form_container h1 {
    border-bottom: 2px solid #222222;
    margin-bottom: 15px;
    padding-bottom: 10px;
}

#form_container #form_title {
    display: block;
    font-size: 18px;
    font-weight: bold;
    padding: 10px;

    -moz-border-radius: 0 0 5px 5px;
    -o-border-radius: 0 0 5px 5px;
    -webkit-border-radius: 0 0 5px 5px;
    border-radius: 5px 5px 5px 5px;
}

#form_container #block_title {
    background: none repeat scroll 0 0 transparent;
    border-bottom: 2px dashed #EEEEEE;
    display: block;
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 5px;
    margin-top: 5px;
    padding: 10px 10px 5px 0;
}

#form_container #form_submit {
    background: none;
    margin-top: 20px;
}

#form_container #block {
    font-weight: bold;
    overflow: hidden;
    padding: 5px 0;
    width: 100%;
}

#form_container #block #left {
    float: left;
    width: 50%;
}

#form_container #block #right {
    float: right;
    width: 45%;
}

#form_container #block #chars_left {
    font-size: 13px;
    color: #666666;
}

#form_container label {
    /*margin-top: 10px;*/
    /*padding-right: 10px;*/
    display: inline-block;
}

/* `Errors
----------------------------------------------------------------------------------------------------*/

label.error {
  background: #ffc;
  color: #c00;
  font-style: italic;
}

input.error,
select.error,
textarea.error {
  background-color: #fee;
}

/* `Table Layout
----------------------------------------------------------------------------------------------------*/

.horiz {
  margin-top: -20px;
  margin-left: -20px;
}

.horiz td {
  padding: 20px 0 0 20px;
}
