{% extends "FlockMainBundle::layout.html.twig" %}

{% block title %}About Flock{% endblock %}

{% block content %}
    <div id="content">
        <h1>About Flock!&nbsp;<small>Glad to know you are interested in the finer details.</small></h1>
        <p>I am Amal Raghav (<a href="http://twitter.com/kertz" target="_blank">@kertz</a>) and Flock was born out of the frustration that there is no simple and easy way to create events and know who are coming.</p>
        <p>First I tried meetup.com and it was an instant turn off with their never ending forms. Add to that the idea of paying money to create a group! Seriously? I went through several apps that were along the same way but none seemed to meet my demand.</p>
        <p>Okay, now you would say why not use Facebook events? I'm not an avid Facebook user. Also Facebook has a very private feel, which I do not like for events that are supposed to be public.</p>
        <p>That's when I thought why isn't there a simple app to create events, where people can join via Twitter. The existing ones were way too complicated for me. Thus was born Flock. I would love to know your feedback and thoughts in general to improve Flock.</p>
        <p>You can find me on Twitter(<a href="http://twitter.com/kertz" target="_blank">@kertz</a>) or shoot an email to <a href="mailto:amal@flock.io">amal@flock.io</a></p>
        <p>cheers,<br>Amal Raghav<br>Founder, Flock.io</p>
    </div>
{% endblock %}

{% block menu %}
    <li class="active"><a href="{{ path('flock_home') }}">Home</a></li>
    <li><a href="{{ path('flocks_list') }}">Flocks</a></li>
    <li><a href="{{ path('flock_about') }}">About</a></li>
{% endblock %}
