{% extends "FlockMainBundle::layout.html.twig" %}
{% block content %}
    <div id="content">
        <div id="container">
            <div id="event_name">{{ event.getEventName() }}</div>
            <div><span id="event_date">{{ event.getEventStart().format('l, F j, Y H:i') }} to  {{ event.getEventEnd().format('l, F j, Y H:i') }}</span>&nbsp;@&nbsp;<span id="event_location">{{ event.getPlace() }}&nbsp;[<a href="#">View on map</a>]</span></div>
            <div><span id="attendence">250 attending</span><span id="join_button"><a href="#"><button>Join</button></a></span></div>
        </div>
    </div>
{% endblock %}
